/{
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&spi1 {
    status = "okay";
    cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
    as5048a@0 {
        status = "okay";
        compatible = "ams,as5048a";
        reg = < 0x00 >;
        spi-max-frequency = < 200000 >;
        label = "as5048a";
    };
};